PyYAML==3.12
attrs==17.3.0
crossbar==17.11.1
pexpect==4.3.0
pyserial>=3.3
pytest==3.3.0
pytest-cache==1.0
pytest-cov==2.5.1
pytest-isort==0.1.0
pytest-mock==1.6.3
pytest-pylint
pytest-runner
onewire>=0.2
pyudev
yapf
requests==2.13.0
autobahn==0.18.1
-r doc-requirements.txt
